@media (max-width: 768px){ 
    .banner{
        display: none;
    }
    h1{
        font-size: 2.5rem;
    }

    .Filtros{
        display: none;
    }

    .lista-de-opciones{
        height: 20px;
    }
}