@media (max-width: 768px){ 
    .banner{
        display: none;
    }
    h1{
        font-size: 2.5rem;
    }

    .navegacion{
        display: none;
    }

    .lista-de-opciones{
        display: none;
    }

    .card{
        width: 12rem !important;
    }
}