$font-size:(

    sm:15px,
    sm1:18px,
    msd:20px,
    md:25px,
    mmd:32px,
    xl:40px,
    xxl:50px,


);

$paleta:(

    color1: #00c3ff,
    color2: #1B4B66,
    color3: lightpink,
    color4: rgb(134, 173, 218),

)