.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: .625rem;
    box-shadow: 0 .3125rem .625rem -0.3125rem rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title{
    font-size: map-get($font-size, md );
    margin-bottom: .5em;
}

.form_paragraph{
    font-weight: 300;
}

.form_link{
    font-weight: 400;
    color: #000;
}

.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    --color: #5757577e;
    padding-top: 10px;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: map-get($font-size, sm );
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: .0625rem solid var(--color);
    font-family: 'roboto', sans-serif;
}

.form_input:focus,
.form_input:not(:placeholder-shown){
    color: #4d4646;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-0.75rem);
    transform-origin: left top;
    color: #3866f2;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: .3125rem;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit{
    background: #3866f2;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: map-get($font-size, sm );
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: .0625rem;
    background-color: #3866f2;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label{
    transform: scale(1);
}

.loguear{
    background-color: #e5e5f7;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 80vh;
    font-family: 'roboto', sans-serif;
}