*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    background-color: rgb(235, 250, 255);
    text-transform: capitalize;
    @include flex(column,nowrap,none,stretch,none);

    h1{font-size: 3.5em;}
    h2{font-size: 2em;}
    h3{font-size: 2em;}
    p{font-size: 1.25em;}
    ul{list-style: none;}

.navbar-nav{
    a{
        text-align: center;
        border-radius: 100%;
        transition: all .5s ease;
    }
    a:hover{
        background-color: $color-4;
    }
    }

    .banner{
            max-width: 100%;
            @include flex(column,none,none,stretch,none);
        }

    main{
        width: 100%;
        margin: auto;
    }
    
    .card-horizontal{
        width: 20rem;
        height: 33rem;
        border-radius: .5rem;
        background-color: rgb(255, 226, 231);
        box-shadow: .125rem .125rem .625rem rgba(128,128,128,0.166);
        margin-bottom: .3125rem;
    }
    
    .container-cards-5{
        text-align: center;
        padding: map-get($font-size, sm );
        @include flex(row,wrap,space-evenly,none,.9375rem);
    }

    .card img{
        width: 14.875rem;
    }

    button{
        font-size: map-get($font-size, sm1 );
        font-weight: bold;
        padding: .625rem 1.25rem;
        border-radius: .625rem;
        border: 5px solid map-get($paleta, color2 );
        color: white;
        background-color: blue;
    }
    
    button:hover{
        background-color: $color-4;
    }
    
    button:active{
        background-color: $color-3;
    }
    .sponsor {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
    }
    
    .Sponsor-order {
        grid-gap: 20px;
        @include flex(row,wrap,center,center,none);
    }
    
    .sponsor img{
        width: 20%;
    }

    .banner-conocenos{
        max-width: 100%;
        max-height: 100%;
        @include flex(column,none,none,stretch,none);
    }

    .contenedor-grid{
        width: 100%;
        margin: 20px auto;
        justify-items: center;
    }

    .preguntas{
        height: 5%;
        padding: 5%;
        text-align: center;
        margin: 1%;
        h1{
            font-size: 3.5em;
        }
    }
    
    .preg{
        padding: 2%;
    }

    .lista-de-opciones{
        display: flex;
        justify-content: center;
    }
    
    .navegacion{
        text-align: center;
        padding: 5%
    }
    
    .a{
        @include flex(row,wrap,none,center,2%)
    }
    
        .a img{
        height: auto;
        max-width: 20%;
    }
    
    .a p{
        padding-left: 25%;
        transform: translateY(-10px);
        text-wrap: wrap;
    }
    
    $product-list-padding: 20px;

.product-list {
    @include flex(column,none,none,flex-start,.625rem);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.sub-dropdown {
  position: relative;
  display: inline-block;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: -0.625rem;
  left: 0;
  z-index: 2;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rows{
    @include flex(row,wrap,space-around,none,1.25rem);
}

.col{
    flex: 0 0 30%;
}

}

